SVG_Stuff/
Library/AssetServerCacheV3
Library/assetservercachev3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/Temp
Library/assetDatabase3
Library/cache
Library/guidmapper
Library/metadata
Library/expandedItems
Library/InspectorExpandedItems.asset
Library/unity\ default\ resources
Library/unity\ editor\ resources
Temp/
